body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Alegreya Sans", sans-serif;
    color: #E6FFFD;
    background-color: #E6FFFD;
}

/* Navbar section */
.title {
    padding: 8px;
    font-size: 46px;
    background-color: #B799FF;
}

/* Footer section */
.footer {
    background-color: #B799FF;
    color: #E6FFFD;
    bottom: 0;
    width: 100%;
    font-weight: 400;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    position: fixed;
}

.footer a {
    margin-right: 10px;
}

.fa-brands {
    padding-top: 10px;
}

/* Calculator buttons */
button {
    width: 80px;
    height: 80px;
    margin: 10px;
    font-size: 32px;
    border-radius: 50px;
    background-color: #B799FF;
    color: #E6FFFD;
    border: 0px;
    box-shadow: #946cf3 -5px -5px 10px 0px inset;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
}

.big-button {
    width: 180px;

}

button:hover {
    background-color: #a581f8
}

button:active {
    box-shadow: 0 2px #946cf3;
    transform: translateY(1px);
}

/* Calculator structure */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 720px;
    background-color: #AEE2FF;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 30px;
    box-shadow: #85d2fb -5px -5px 10px 0px inset;

}

/* Calculator screen */
#output {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background-color: #4140408b;
    color: #ffffff;
    width: 365px;
    height: 100px;
    padding: 10px;
    font-size: 60px;
    margin-bottom: 20px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 20px;
    box-shadow: #3837378b -5px -5px 10px 0px inset;
}

#output .current-operand {
    color: #ffffff;
    font-size: 45px;
}